<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mylearn.agentgate.mapper.HistoryRenderedMapper">

    <insert id="batchInsert"
            parameterType="java.util.List">
        insert into tb_history_rendered
        (user_id, msg_index, render_type, out_context, history_id, create_time)
        values <foreach collection="historyRenderedList" open="" close="" separator="," item="item">
            (#{item.userId}, #{item.msgIndex}, #{item.renderType}, #{item.outContext}, #{item.historyId}, #{item.createTime})
        </foreach>
    </insert>

    <select id="getByHistoryId" resultType="com.mylearn.agentgate.core.entity.HistoryRendered"
            parameterType="java.lang.String">
        select id, msg_index, render_type, out_context, history_id, create_time, update_time
        from tb_history_rendered
        <where>
            history_id = #{historyId}
        </where>
    </select>

    <select id="batchGetByHistoryIds" resultType="com.mylearn.agentgate.core.entity.HistoryRendered"
            parameterType="java.util.List">
        select id, msg_index, render_type, out_context, history_id, create_time, update_time
        from tb_history_rendered
        <where>
            history_id in
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </select>
</mapper>
