<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.mylearn.agentgate.mapper.RoleCardMapper">
    <insert id="insertRoleCard">
        insert into tb_role_card
        (name, user_id, description, avatar_url, start_text, setting_text)
        values (#{name}, #{userId}, #{description}, #{avatarUrl}, #{startText}, #{settingText})
    </insert>


    <select id="selectAllRoleCards" resultType="com.mylearn.agentgate.core.entity.RoleCard">
        select id, name, user_id, description, avatar_url, start_text, setting_text, create_time, update_time
        from tb_role_card
    </select>


    <select id="selectById" resultType="com.mylearn.agentgate.core.entity.RoleCard">
        select id, name, user_id, description, avatar_url, start_text, setting_text, create_time, update_time
        from tb_role_card
        where user_id = #{UserId}
    </select>
</mapper>